Repository ProDvizhenieChatBot/dvizhenie-microservices-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-service-ruff-format, api-service-ruff-check, api-service-pyright, api-service-uv-lock-check, bot-service-ruff-format, bot-service-ruff-check, bot-service-pyright, bot-service-uv-lock-check, file-service-ruff-format, file-service-ruff-check, file-service-pyright, file-service-uv-lock-check

api-service-ruff-format:
  name: 'API Service: Ruff Format'
  entry: uv run --with ruff ruff format
  language: system

api-service-ruff-check:
  name: 'API Service: Ruff Check'
  entry: uv run --with ruff ruff check --fix
  language: system

api-service-pyright:
  name: 'API Service: Pyright'
  entry: sh -c 'cd services/api_service && uv run --with pyright pyright'
  language: system
  pass_filenames: false

api-service-uv-lock-check:
  name: 'API Service: Check uv.lock'
  entry: sh -c 'cd services/api_service && uv sync --check'
  language: system
  pass_filenames: false

bot-service-ruff-format:
  name: 'Bot Service: Ruff Format'
  entry: uv run --with ruff ruff format
  language: system

bot-service-ruff-check:
  name: 'Bot Service: Ruff Check'
  entry: uv run --with ruff ruff check --fix
  language: system

bot-service-pyright:
  name: 'Bot Service: Pyright'
  entry: sh -c 'cd services/bot_service && uv run --with pyright pyright'
  language: system
  pass_filenames: false

bot-service-uv-lock-check:
  name: 'Bot Service: Check uv.lock'
  entry: sh -c 'cd services/bot_service && uv sync --check'
  language: system
  pass_filenames: false

file-service-ruff-format:
  name: 'File Service: Ruff Format'
  entry: uv run --with ruff ruff format
  language: system

file-service-ruff-check:
  name: 'File Service: Ruff Check'
  entry: uv run --with ruff ruff check --fix
  language: system

file-service-pyright:
  name: 'File Service: Pyright'
  entry: sh -c 'cd services/file_storage_service && uv run --with pyright pyright'
  language: system
  pass_filenames: false

file-service-uv-lock-check:
  name: 'File Service: Check uv.lock'
  entry: sh -c 'cd services/file_storage_service && uv sync --check'
  language: system
  pass_filenames: false

refactor some pydantic to their new places from api
  README.md
  nginx/nginx.conf
  services/api_service/src/app/api/schemas.py
  services/api_service/src/app/api/sessions.py
  services/api_service/src/app/schemas/forms.py
  services/api_service/src/app/schemas/sessions.py
  services/api_service/src/app/services/zip_service.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright

refactored api service to clean architecture
  kanban.md
  services/api_service/src/app/api/applications.py
  services/api_service/src/app/api/schemas.py
  services/api_service/src/app/api/sessions.py
  services/api_service/src/app/core/dependencies.py
  services/api_service/src/app/repositories/__init__.py
  services/api_service/src/app/repositories/applications.py
  services/api_service/src/app/repositories/forms.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright

updated readme
  Makefile
  README.md
  kanban.md
Due: none

Makefile
  Makefile
Due: none

changed telegram bot commands
  README.md
  services/api_service/src/app/alembic/versions/1a2b3c4d5e6f_add_partial_unique_index_for_drafts.py
  services/api_service/src/app/models/db_models.py
  services/bot_service/src/app/bot/handlers.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright, bot-service-ruff-format, bot-service-ruff-check, bot-service-pyright

more robust Dockerfiles with uv
  services/api_service/Dockerfile
  services/api_service/pyproject.toml
  services/api_service/uv.lock
  services/bot_service/Dockerfile
  services/file_storage_service/Dockerfile
Due: api-service-uv-lock-check

Add cors policy
  services/api_service/src/app/main.py
  services/file_storage_service/src/app/main.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright, file-service-ruff-format, file-service-ruff-check, file-service-pyright

add additional commands
  Makefile
Due: none

disable app based cors policy
  services/api_service/src/app/main.py
  services/file_storage_service/src/app/main.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright, file-service-ruff-format, file-service-ruff-check, file-service-pyright

api tests passed no precommit
  api_testing.md
  services/api_service/pyproject.toml
  services/api_service/src/app/repositories/forms.py
  services/api_service/src/app/services/zip_service.py
  services/api_service/src/tests/__init__.py
  services/api_service/src/tests/conftest.py
  services/api_service/src/tests/test_api_edpoints.py
  services/api_service/src/tests/test_repositories.py
  services/api_service/src/tests/test_services.py
  services/api_service/uv.lock
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright, api-service-uv-lock-check

52 api service tests passed with precommit
  services/api_service/src/tests/conftest.py
  services/api_service/src/tests/test_repositories.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright

update readme with testing info
  README.md
  api_testing.md
Due: none

updated readme about tests
  README.md
Due: none

fixed form commit
  services/api_service/src/app/repositories/forms.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright

bot_service tests without precommit
  services/bot_service/pyproject.toml
  services/bot_service/src/tests/__init__.py
  services/bot_service/src/tests/conftest.py
  services/bot_service/src/tests/test_api_client.py
  services/bot_service/src/tests/test_handlers.py
  services/bot_service/uv.lock
Due: bot-service-ruff-format, bot-service-ruff-check, bot-service-pyright, bot-service-uv-lock-check

tests for bot_sevice
  services/api_service/src/app/main.py
  services/bot_service/src/tests/conftest.py
  services/bot_service/src/tests/test_api_client.py
  services/bot_service/src/tests/test_handlers.py
  services/file_storage_service/src/app/main.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright, bot-service-ruff-format, bot-service-ruff-check, bot-service-pyright, file-service-ruff-format, file-service-ruff-check, file-service-pyright

updated readme about bot-service testing
  README.md
Due: none

file storage 4 tests
  kanban.md
  services/file_storage_service/pyproject.toml
  services/file_storage_service/src/tests/__init__.py
  services/file_storage_service/src/tests/conftest.py
  services/file_storage_service/src/tests/test_file_endpoints.py
  services/file_storage_service/uv.lock
Due: file-service-ruff-format, file-service-ruff-check, file-service-pyright, file-service-uv-lock-check

more file storage tests without precommit
  services/file_storage_service/pyproject.toml
  services/file_storage_service/src/app/main.py
  services/file_storage_service/src/app/s3_client.py
  services/file_storage_service/src/tests/test_file_endpoints.py
  services/file_storage_service/src/tests/test_s3_client.py
  services/file_storage_service/uv.lock
Due: file-service-ruff-format, file-service-ruff-check, file-service-pyright, file-service-uv-lock-check

file storage tests with precommit
  services/file_storage_service/pyproject.toml
  services/file_storage_service/src/tests/conftest.py
  services/file_storage_service/src/tests/test_file_endpoints.py
  services/file_storage_service/src/tests/test_s3_client.py
Due: file-service-ruff-format, file-service-ruff-check, file-service-pyright, file-service-uv-lock-check

prettier ruff pyright checks
  services/api_service/src/app/main.py
  services/bot_service/src/tests/conftest.py
  services/bot_service/src/tests/test_api_client.py
  services/bot_service/src/tests/test_handlers.py
  services/file_storage_service/src/app/main.py
  services/file_storage_service/src/tests/conftest.py
  services/file_storage_service/src/tests/test_file_endpoints.py
  services/file_storage_service/src/tests/test_s3_client.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright, bot-service-ruff-format, bot-service-ruff-check, bot-service-pyright, file-service-ruff-format, file-service-ruff-check, file-service-pyright

updated readme and script to run all test with coverage info
  README.md
  kanban.md
  run_tests.sh
  services/api_service/pyproject.toml
  services/bot_service/pyproject.toml
  services/file_storage_service/pyproject.toml
Due: api-service-uv-lock-check, bot-service-uv-lock-check, file-service-uv-lock-check

diagram mermaid
  README.md
  structure.mmd
  structure.png
Due: none

Update README.md
  README.md
Due: none

updated form schema
  services/api_service/src/app/static/form_schema.json
  services/api_service/src/app/static/form_schema_v1.json
Due: none

fixed zip
  services/api_service/src/app/services/zip_service.py
  services/api_service/src/tests/test_services.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright

form fix
  services/api_service/src/app/static/form_schema.json
  services/api_service/src/app/static/form_schema_v1.json
Due: none

Path conditions:
  api-service-ruff-format: any of: ^services/api_service/ and \.py$
  api-service-ruff-check: any of: ^services/api_service/ and \.py$
  api-service-pyright: any of: ^services/api_service/ and \.py$
  api-service-uv-lock-check: any of: ^services/api_service/(pyproject\.toml|uv\.lock)$
  bot-service-ruff-format: any of: ^services/bot_service/ and \.py$
  bot-service-ruff-check: any of: ^services/bot_service/ and \.py$
  bot-service-pyright: any of: ^services/bot_service/ and \.py$
  bot-service-uv-lock-check: any of: ^services/bot_service/(pyproject\.toml|uv\.lock)$
  file-service-ruff-format: any of: ^services/file_storage_service/ and \.py$
  file-service-ruff-check: any of: ^services/file_storage_service/ and \.py$
  file-service-pyright: any of: ^services/file_storage_service/ and \.py$
  file-service-uv-lock-check: any of: ^services/file_storage_service/(pyproject\.toml|uv\.lock)$
