Repository ProDvizhenieChatBot/dvizhenie-microservices-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-service-ruff-format, api-service-ruff-check, api-service-pyright, api-service-uv-lock-check, bot-service-ruff-format, bot-service-ruff-check, bot-service-pyright, bot-service-uv-lock-check, file-service-ruff-format, file-service-ruff-check, file-service-pyright, file-service-uv-lock-check

api-service-ruff-format:
  name: 'API Service: Ruff Format'
  entry: uv run --with ruff ruff format
  language: system

api-service-ruff-check:
  name: 'API Service: Ruff Check'
  entry: uv run --with ruff ruff check --fix
  language: system

api-service-pyright:
  name: 'API Service: Pyright'
  entry: sh -c 'cd services/api_service && uv run --with pyright pyright'
  language: system
  pass_filenames: false

api-service-uv-lock-check:
  name: 'API Service: Check uv.lock'
  entry: sh -c 'cd services/api_service && uv sync --check'
  language: system
  pass_filenames: false

bot-service-ruff-format:
  name: 'Bot Service: Ruff Format'
  entry: uv run --with ruff ruff format
  language: system

bot-service-ruff-check:
  name: 'Bot Service: Ruff Check'
  entry: uv run --with ruff ruff check --fix
  language: system

bot-service-pyright:
  name: 'Bot Service: Pyright'
  entry: sh -c 'cd services/bot_service && uv run --with pyright pyright'
  language: system
  pass_filenames: false

bot-service-uv-lock-check:
  name: 'Bot Service: Check uv.lock'
  entry: sh -c 'cd services/bot_service && uv sync --check'
  language: system
  pass_filenames: false

file-service-ruff-format:
  name: 'File Service: Ruff Format'
  entry: uv run --with ruff ruff format
  language: system

file-service-ruff-check:
  name: 'File Service: Ruff Check'
  entry: uv run --with ruff ruff check --fix
  language: system

file-service-pyright:
  name: 'File Service: Pyright'
  entry: sh -c 'cd services/file_storage_service && uv run --with pyright pyright'
  language: system
  pass_filenames: false

file-service-uv-lock-check:
  name: 'File Service: Check uv.lock'
  entry: sh -c 'cd services/file_storage_service && uv sync --check'
  language: system
  pass_filenames: false

pyright fixed
  services/api_service/pyproject.toml
  services/bot_service/pyproject.toml
  services/bot_service/uv.lock
  services/file_storage_service/pyproject.toml
  services/file_storage_service/src/app/api/files.py
  services/file_storage_service/src/app/core/config.py
  services/file_storage_service/src/app/main.py
  services/file_storage_service/uv.lock
Due: api-service-uv-lock-check, bot-service-uv-lock-check, file-service-ruff-format, file-service-ruff-check, file-service-pyright, file-service-uv-lock-check

Update README.md
  README.md
Due: none

new plan todo
  plan.md
Due: none

tasks, plan, openapi specs
  features.md
  kanban.md
  openapi.yaml
  plan.md
Due: none

task 1.1 plus pytest
  .gitignore
  .pre-commit-config.yaml
  nginx/nginx.conf
  services/api_service/Dockerfile
  services/api_service/pyproject.toml
  services/api_service/src/app/api/applications.py
  services/api_service/src/app/models/db_models.py
  services/api_service/src/app/schemas/__init__.py
  services/api_service/src/app/schemas/applications.py
  services/api_service/src/tests/__init__.py
  services/api_service/src/tests/conftest.py
  services/api_service/src/tests/test_applications.py
  services/api_service/uv.lock
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright, api-service-uv-lock-check

task 1.2 save progres
  docker-compose.yml
  services/api_service/src/app/api/applications.py
  services/api_service/src/app/models/db_models.py
  services/api_service/src/app/schemas/applications.py
  services/api_service/src/tests/conftest.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright

db commit fix
  services/api_service/src/app/api/applications.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright

task 1.3
  services/api_service/src/app/api/applications.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright

task 1.4
  services/api_service/src/app/api/sessions.py
  services/bot_service/src/app/internal_clients/api_client.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright, bot-service-ruff-format, bot-service-ruff-check, bot-service-pyright

tests for applications endpoint
  .gitignore
  services/api_service/pyproject.toml
  services/api_service/src/tests/conftest.py
  services/api_service/src/tests/test_applications.py
  services/api_service/uv.lock
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright, api-service-uv-lock-check

readme and pyproject toml
  README.md
  services/api_service/pyproject.toml
Due: api-service-uv-lock-check

updated kanban with new 3.1 auth service
  kanban.md
Due: none

task 2.1 minio s3 client
  .env.example
  docker-compose.yml
  kanban.md
  services/file_storage_service/pyproject.toml
  services/file_storage_service/src/app/core/config.py
  services/file_storage_service/src/app/main.py
  services/file_storage_service/src/app/s3_client.py
  services/file_storage_service/uv.lock
Due: file-service-ruff-format, file-service-ruff-check, file-service-pyright, file-service-uv-lock-check

file save to minio bucket
  services/file_storage_service/pyproject.toml
  services/file_storage_service/src/app/api/files.py
  services/file_storage_service/src/app/schemas/__init__.py
  services/file_storage_service/src/app/schemas/files.py
  services/file_storage_service/uv.lock
Due: file-service-ruff-format, file-service-ruff-check, file-service-pyright, file-service-uv-lock-check

task 2.3 files with secure link to download from minio
  .env.example
  kanban.md
  services/file_storage_service/src/app/api/files.py
  services/file_storage_service/src/app/core/config.py
  services/file_storage_service/src/app/schemas/files.py
Due: file-service-ruff-format, file-service-ruff-check, file-service-pyright

tests for filestorage without precommit
  services/file_storage_service/pyproject.toml
  services/file_storage_service/pytest.ini
  services/file_storage_service/src/tests/__init__.py
  services/file_storage_service/src/tests/conftest.py
  services/file_storage_service/src/tests/test_api_files.py
  services/file_storage_service/src/tests/test_config.py
  services/file_storage_service/src/tests/test_integration.py
  services/file_storage_service/src/tests/test_main.py
  services/file_storage_service/src/tests/test_s3_client.py
  services/file_storage_service/src/tests/test_schemas.py
Due: file-service-ruff-format, file-service-ruff-check, file-service-pyright, file-service-uv-lock-check

nginx basic auth
  .env.example
  docker-compose.yml
  kanban.md
  nginx/Dockerfile
  nginx/entrypoint.sh
  nginx/nginx.conf
Due: none

updated kanban
  kanban.md
Due: none

form_schema + openapi.yaml for frontend
  openapi.yaml
  services/api_service/src/app/static/form_schema.json
Due: none

corrected openapi.yaml, plan.md
  openapi.yaml
  plan.md
Due: none

updated models, updated endpoints
  services/api_service/src/app/alembic/env.py
  services/api_service/src/app/alembic/versions/e47c13a2d7a2_create_initial_refactored_tables.py
  services/api_service/src/app/alembic/versions/f08fb5aa39e6_create_initial_tables.py
  services/api_service/src/app/api/applications.py
  services/api_service/src/app/api/sessions.py
  services/api_service/src/app/models/db_models.py
  services/api_service/src/app/schemas/applications.py
  services/api_service/src/tests/test_applications.py
  services/bot_service/src/app/bot/handlers.py
  services/bot_service/src/app/internal_clients/api_client.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright, bot-service-ruff-format, bot-service-ruff-check, bot-service-pyright

removed obsolete tests
  README.md
  services/api_service/src/tests/__init__.py
  services/api_service/src/tests/test_applications.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright

add make file
  Makefile
Due: none

form to db
  kanban.md
  services/api_service/src/app/alembic/versions/2b8a7c1fde9e_add_form_schema_table.py
  services/api_service/src/app/api/schemas.py
  services/api_service/src/app/main.py
  services/api_service/src/app/models/db_models.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright

new session from web
  services/api_service/src/app/api/sessions.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright

kanban updated
  Makefile
  kanban.md
Due: none

export to xls
  nginx/nginx.conf
  services/api_service/pyproject.toml
  services/api_service/src/app/api/applications.py
  services/api_service/src/app/api/auth.py
  services/api_service/src/app/main.py
  services/api_service/src/app/services/__init__.py
  services/api_service/src/app/services/export_service.py
  services/api_service/uv.lock
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright, api-service-uv-lock-check

download zip documents
  .env.example
  kanban.md
  services/api_service/src/app/api/applications.py
  services/api_service/src/app/core/config.py
  services/api_service/src/app/services/zip_service.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright

statuses for miniapp and telegram bot
  services/api_service/src/app/api/applications.py
  services/api_service/src/app/api/sessions.py
  services/api_service/src/app/schemas/applications.py
  services/bot_service/src/app/bot/handlers.py
  services/bot_service/src/app/internal_clients/api_client.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright, bot-service-ruff-format, bot-service-ruff-check, bot-service-pyright

docs and manuals
  README.md
  nginx/Dockerfile
  nginx/form_manual.html
  nginx/nginx.conf
  nginx/openapi.yaml
  openapi.yaml
Due: none

docs
  README.md
  nginx/Dockerfile
  nginx/nginx.conf
  nginx/openapi.yaml
Due: none

obsolete plans
  features.md
  kanban.md
  nginx/nginx.conf
  plan.md
Due: none

basic logging
  kanban.md
  services/api_service/src/app/api/sessions.py
  services/api_service/src/app/main.py
  services/bot_service/src/app/bot/handlers.py
  services/bot_service/src/app/internal_clients/api_client.py
  services/bot_service/src/app/main.py
  services/file_storage_service/src/app/api/files.py
  services/file_storage_service/src/app/main.py
  services/file_storage_service/src/app/s3_client.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright, bot-service-ruff-format, bot-service-ruff-check, bot-service-pyright, file-service-ruff-format, file-service-ruff-check, file-service-pyright

initial form schema seed
  services/api_service/src/app/core/initial_data.py
  services/api_service/src/app/main.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright

fix makefile
  Makefile
Due: none

removed redundant lines for clarity
  .env.example
  .gitignore
  .pre-commit-config.yaml
  README.md
  TZ.md
  docker-compose.yml
  nginx/Dockerfile
  nginx/entrypoint.sh
  nginx/nginx.conf
  services/api_service/pyproject.toml
  services/api_service/src/app/alembic.ini
  services/api_service/src/app/alembic/env.py
  services/api_service/src/app/alembic/versions/2b8a7c1fde9e_add_form_schema_table.py
  services/api_service/src/app/alembic/versions/e47c13a2d7a2_create_initial_refactored_tables.py
  services/api_service/src/app/api/applications.py
  services/api_service/src/app/api/schemas.py
  services/api_service/src/app/api/sessions.py
  services/api_service/src/app/core/config.py
  services/api_service/src/app/core/initial_data.py
  services/api_service/src/app/internal_clients/__init__.py
  services/api_service/src/app/main.py
  services/api_service/src/app/schemas/applications.py
  services/api_service/src/app/services/export_service.py
  services/api_service/src/app/services/zip_service.py
  services/api_service/uv.lock
  services/bot_service/pyproject.toml
  services/bot_service/src/app/bot/handlers.py
  services/bot_service/src/app/internal_clients/api_client.py
  services/file_storage_service/pyproject.toml
  services/file_storage_service/src/app/api/files.py
  services/file_storage_service/src/app/main.py
  services/file_storage_service/src/app/s3_client.py
Due: api-service-ruff-format, api-service-ruff-check, api-service-pyright, api-service-uv-lock-check, bot-service-ruff-format, bot-service-ruff-check, bot-service-pyright, bot-service-uv-lock-check, file-service-ruff-format, file-service-ruff-check, file-service-pyright, file-service-uv-lock-check

Path conditions:
  api-service-ruff-format: any of: ^services/api_service/ and \.py$
  api-service-ruff-check: any of: ^services/api_service/ and \.py$
  api-service-pyright: any of: ^services/api_service/ and \.py$
  api-service-uv-lock-check: any of: ^services/api_service/(pyproject\.toml|uv\.lock)$
  bot-service-ruff-format: any of: ^services/bot_service/ and \.py$
  bot-service-ruff-check: any of: ^services/bot_service/ and \.py$
  bot-service-pyright: any of: ^services/bot_service/ and \.py$
  bot-service-uv-lock-check: any of: ^services/bot_service/(pyproject\.toml|uv\.lock)$
  file-service-ruff-format: any of: ^services/file_storage_service/ and \.py$
  file-service-ruff-check: any of: ^services/file_storage_service/ and \.py$
  file-service-pyright: any of: ^services/file_storage_service/ and \.py$
  file-service-uv-lock-check: any of: ^services/file_storage_service/(pyproject\.toml|uv\.lock)$
